{% extends 'shop/base.html' %}
{% block title %}
  Gracias!
{% endblock %}
{% block content %}
  <h1>Gracias por su compra</h1>
  <p>
    Su pedido se ha completado con éxito. Su número de pedido es <strong>{{ order.id }}</strong>.
  </p>
  <p>Para realizar el pago efectue una tranferencia a:</p>
  <p>
    <strong>CBU: 2850 1145 4008 5594 677 678</strong>
  </p>
  <p>
    <strong>Alias:jacaranda.plants.gifts</strong>
  </p>
  <p>
    <strong>Numeor de cuenta:41140 95584 07761</strong>
  </p>
  <p>
    En la referencia de la tranferencia agregue el numero de orden: <strong>{{ order.id }}</strong>
  </p>
{% endblock %}
